{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>TODO list</h1>
    <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </div>
  {% for task in task_list %}
        <div class="d-flex justify-content-between align-items-center">
      <p>
        <strong>
          {{ task.content }} -
          {% if task.is_done %}
            <span style="color: green;">Done</span>
          {% else %}
            <span style="color: red;">Not Done</span>
          {% endif %}
        </strong>
      </p>
      <a href="{% url 'todo_list:toggle-task-status' pk=task.id %}" class="btn {% if task.is_done %}btn-secondary{% else %}btn-success{% endif %}">
        {% if task.is_done %}
          Undo
        {% else %}
          Complete
        {% endif %}
      </a>
    </div>
    <p style="font-size: 80%; color: grey;">
      <strong>Created: {{ task.created_at|date:"F d, Y H:i" }}</strong>
      {% if task.deadline %}
        <span style="color: red;">
          <strong>Deadline: {{ task.deadline|date:"F d, Y H:i" }}</strong>
        </span>
      {% endif %}
    </p>
    <p>
      Tags: {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
      <span class="ml-2">
        <a href="{% url 'todo_list:task-update' pk=task.id %}" style="text-decoration: none;">Update</a>
        <a href="{% url 'todo_list:task-delete' pk=task.id %}" style="text-decoration: none;">Delete</a>
      </span>
    </p>
    <br><hr style="background-color: darkgrey; height: 2px; border: none;">
  {% endfor %}
{% endblock %}